.menuFilters {
    height: 40px;
    background-color: rgb(37, 37, 37);
    .sorting {
        display: inline-block;
        margin-left: 20px;
        height: 100%;
        padding-top: 10px;
        .sortBtn {
            display: inline-block;
            margin-right: 15px;
            p {
                color: rgb(171, 171, 171);
                font-size: 11px;
            }
        }
        a {
            border-radius: 58px;
            border: 1px solid rgb(171, 171, 171);
            padding: 4px;
            font-size: 10px;
            text-decoration: none;
            margin-right: 10px;
            display: inline-block;
            color: rgb(171, 171, 171);
            &:hover {
                color: white;
                background-color: red;
                border: 1px solid red;
            }
        }
    }
    .filtering {
        color: white;
        float: right;
        margin-right:10px;
        padding-top: 10px;
        
        .filterBtn {
            display: inline-block;
            margin-right: 15px;
            p {
                color: rgb(171, 171, 171);
                font-size: 11px;
                font-family: Roboto;
            }
        }
        a {
            border-radius: 58px;
            border: 1px solid rgb(171, 171, 171);
            padding: 4px;
            font-size: 10px;
            text-decoration: none;
            margin-right: 10px;
            display: inline-block;
            font-family: Roboto;
            color: rgb(171, 171, 171);
            &:first-of-type {
                width: 32px;
                text-align: center;
            }
            &:hover {
                color: white;
                background-color: red;
                border: 1px solid red;
            }
        }
    }
}