.logoContainer {
  float: left;
  margin: 0 0 0 10px;
  padding-bottom: 0;
  .logo {
    width: 143px;
    height: 37px;
  }
}

//.hidden {
//  width: 0;
//  overflow-x: hidden;
//  z-index: 1;
//  float: left;
//  top: 0;
//  left: 0;
//  height: 100%;
//  padding-top: 0;
//  position: fixed;
//  transition: .5s;
//}

.showing {
  color: white;
  position: absolute;
  top: 0;
  padding-top: 20px;
}


