.headerContainer {
  background-color: rgb(42, 42, 42);
  color: white;
  height: 70px;
  padding-left: 0 !important;



  .menuContainer {
    width: 10px;
    float: left;
    height: 10px;
    margin: 25px 20px 20px 10px;
  }


}

.headerSecond {
  height: 50px;
  width: 200px;
  float: right;
  .userPhoto {
    float: right;
    margin: 13px 0;
    img {
      width: 37px;
      height: 37px;
      border: solid 1px #535353;
      border-radius: 58px;
      margin-right: 7px;
    }
  }

  .dashboardLink {
    display: inline-block;
    margin: 20px 30px;
    width: 84px;
    height: 16px;
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}

