.tabsContainer {
  padding: 0;
  height: 41px;
  display: flex;
  margin: 0 0 0 1px;
  background-color: rgb(47, 47, 47);

  div {
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0.5px solid black;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid red;
      background-color: rgb(47, 47, 47);
      cursor: pointer;
    }
    p {
      text-transform: uppercase;
      margin: 0;
      font-size: 10px;
      letter-spacing: -1px;
      line-height: 1.6;
      color: rgb(167, 167, 167);
      font-family: Roboto, serif;
    }
    &:last-child {
      border-right: 0.5px solid black;
    }
  }
}
