
main {
  background-color: rgb(42, 42, 42);
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;

  .closed{
    transition: all .8s ease;
    margin-left: 0;
    //z-index: 100000;
  }
  .open{
    margin-left: 170px;
    background-color: rgb(42, 42, 42);
    transition: all .8s ease;
    //z-index: 100000;

  }

.container {
  position:relative;
}
}
